// Dimension
// -----------------------------
$w-page: 640px;
$ppr: $w-page/16/1rem;


// Font
// -----------------------------
$font-size: 22px/$ppr;
$line-hight: 1.5;
$f-simsun: 'SimSun';
$f-simhei: 'SimHei';
$f-yahei: 'Microsoft YaHei';
$f-hiragino: 'hiragino sans gb';


// Color
// -----------------------------
$c-border: #dadada;