// 每项赛事的状态标签
// -----------------------

@import "../base/mixins";

.state {
    position: relative;
    flex: 1;

    &__line {
        position: absolute;
        left: 0;
        right: 10px;
        top: 50%;
        height: 0;
        border-top: 1px dashed #ededed;
    }

    &__entity {
        position: relative;
        z-index: 1;
        float: right;
    }
}

%label {
    display: flex;
    align-items: center;
    padding-left: 17px;
    background-color: #fff;

    &__txt {
        padding: 1px 2px 0;
        font-size: 26px;
        line-height: 28px;
        border: 1px solid;
        border-radius: 5px;
        letter-spacing: -1px;
    }
}

//.label--live {
//    @extend %label;
//
//    &__icon {
//        margin-right: 9px;
//        @include icon('play.png');
//    }
//
//    &__txt {
//        @extend %label__txt;
//        color: #004b88;
//        border-color: #b2c9db;
//    }
//}

.label--live--fade {
    @extend %label;

    &__icon {
        margin-right: 9px;
        @include icon('play-fade.png');
    }

    &__txt {
        @extend %label__txt;
        color: #999;
        border-color: #d2d2d2;
    }
}

.label--live {
    @extend %label;

    &__icon {
        position: relative;
        margin-right: 11px;
        width: 30px;
        height: 30px;

        &:after, &__inner, &__outer {
            content: '';
            position: absolute;
            left: -10px;
            top: -10px;
        }

        &:after {
            @include icon('arrow-green.png');
        }

        &__inner {
            @include icon('ring-inner.png');
            will-change: transform, opacity, pulsate;
            animation: spin 1s linear infinite;
        }

        &__outer {
            @include icon('ring-outer.png');
            opacity: .1;
            will-change: transform, opacity, pulsate;
            animation: spin-opacity 1s linear infinite;
        }
    }

    &__txt {
        @extend %label__txt;
        color: #004b88;
        border-color: #b2c9db;
    }
}

.label--alarm {
    @extend %label;

    &__icon {
        margin-right: 12px;
        @include icon('clock.png');
    }

    &__txt {
        @extend %label__txt;
        color: #fdb23b;
        border-color: #fee9c8;
    }
}


@keyframes spin {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes spin-opacity {
    0% {
        transform: rotateZ(0deg);
        opacity: .1;
    }

    50% {
        opacity: .4;
    }

    100% {
        transform: rotateZ(-360deg);
        opacity: .1;
    }
}