@import "../../base/mixins";

.list {
    margin: 20px 20px 0;
    background-color: #fff;
}

.item {
    position: relative;
    padding: 35px 21px 31px 97px;

    &__clip {
        position: absolute;
        left: 0;
        top: 35px;
    }

    &__name {
        margin-bottom: 10px;
        font-size: 28px;
        color: #5b5b5b;
    }

    &__info {
        display: flex;
        align-items: center;
        font-size: 24px;
        color: #888;

        &__dot {
            display: block;
            margin-right: 11px;
            width: 12px;
            height: 12px;
            background-color: #c9e4fc;
            border-radius: 50%;
        }

        &__sep {
            display: block;
            margin: 0 22px 0 26px;
            height: 21px;
            width: 0;
            border-left: 1px solid #dcdcdc;
            font-size: 0;
        }
    }

    &__state {
        position: absolute;
        right: 24px;
        bottom: 38px;
    }

    & + & {
        border-top: 1px solid #ebebeb;
    }
}