@import "../../base/mixins";

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 18px 20px;
}

.org-title {
    display: flex;
    align-items: center;

    img {
        box-sizing: content-box;
        width: 39px;
        height: 26px;
        margin-right: 18px;
        border: 1PX solid #d9d9d9;
    }

    &__name {
        width: 164px;
        color: #39393a;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.total-medals {
    margin-right: 10px;
    font-size: 26px;
    color: #808080;

    > span {
        margin-left: 10px;
    }
}

.switcher {
    position: relative;
    line-height: 48px;
    font-size: 24px;

    &__inner {
        width: 209px;
        height: 48px;
        border: 2px solid #b1d7ee;
        border-radius: 24px;
    }

    &__label {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 112px;
        color: rgba(30,140,205,.7);
        text-align: center;
        border-radius: 24px;
        right: 0;

        &:first-child {
            left: 0;
        }

        &:global(.is-chosen) {
            color: #fff;
            background-color: #31a0e1;
            z-index: 1;
        }

    }
}

.empty {
    padding-top: 180px;
    font-size: 36px;
    color: rgb(140, 140, 140);
    text-align: center;
}