.switcher-wrapper {
    position: relative;

    &__bg {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        border: 2px solid #accae0;
        border-radius: 30px;
    }
}


.switcher {
    $br: 30px;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    overflow: hidden;

    &__option {
        display: block;
        width: 170px;
        height: 60px;
        line-height: 60px;
        font-size: 32px;
        text-align: center;
        color: rgba(0,99,174,.7);

        &:global(.is-selected) {
            color: #fff;
            background-color: #0084e6;
            border-radius: $br;
        }
    }

    &__sep {
        display: block;
        width: 0;
        height: 20px;
        border-left: 2px solid #accae0;
        font-size: 0;
    }

    &:global(.select-0) &__sep:nth-child(2),
    &:global(.select-1) &__sep:nth-child(2) {
        visibility: hidden;
    }

    &:global(.select-1) &__sep:nth-child(4),
    &:global(.select-2) &__sep:nth-child(4) {
        visibility: hidden;
    }

    &:global(.select-2) &__sep:nth-child(6),
    &:global(.select-3) &__sep:nth-child(6) {
        visibility: hidden;
    }
}