.dp {
    position: fixed;
    top: 81px;
    bottom: 0;
    z-index: 9;
	width: 750px;
	margin: 0 auto;
    background-color: rgba(255,255,255,.96);
    border-top: 1px solid #ebebea;
    overflow-y: auto;
    -webkit-overflow-scrolling : touch;

    :global(.bar--touch) & {
        top: 179px;
    }

    :global(.bar--app) & {
        top: 143px;
    }
}

.capsules {
    padding: 44px 0 0 7px;
    overflow: hidden;
}

.capsule {
    float: left;
    margin: 0 22px 40px 22px;
    width: 140px;
    height: 59px;
    line-height: 59px;
    font-size: 34px;
    text-align: center;
    color: #5b5b5b;
    border: 1px solid #cdcdcd;
    border-radius: 32px;
    overflow: hidden;

    &:global(.is-selected) {
        color: #fff;
        background-color: #3bd5fb;
        border-color: #3bd5fb;
    }

    &:global(.c4) {
        font-size: 30px;
    }

    &:global(.c5) {
        font-size: 24px;
    }

    &:global(.long) {
        font-size: 24px;
        width: auto;
        padding: 0 10px;
    }
}


:global {
    .dp-enter {
        opacity: 0;
        transform: translate3d(0, -81px, 0);
    }
    .dp-enter-active {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        transition: all 350ms;
    }

    .dp-leave {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
    .dp-leave-active {
        opacity: 0;
        transform: translate3d(0, -81px, 0);
        transition: all 300ms;
    }
}