@import "../../base/mixins";

.filter {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    height: 81px;
    padding: 0 40px;
    background-color: #f6f6f6;
}

.checkbox {
    display: flex;
    align-items: center;

    &__box {
        margin-right: 18px;
        width: 34px;
        height: 34px;
        border: 2px solid #dedede;
        border-radius: 5px;
        background-color: #fff;
    }

    &__label {
        font-size: 30px;
    }

    &:global(.is-checked) &__box {
        position: relative;
        border-color: #3bd5fb;

        i {
            position: absolute;
            left: 4px;
            top: -1px;
            @include icon('tick.png');
        }
    }

    & + & {
        margin-left: 82px;
    }
}


.selector {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    align-items: center;
    padding-right: 16px;

    &__label {
        margin-right: 10px;
        font-size: 30px;

        &--long {
            font-size: 24px;
        }
    }

    &__arrow {
	    display: block;
        width: 13px;
        height: 13px;
        background: resolve('triangle-down.png') no-repeat center center;
        background-size: contain;
        transition: transform .3s;
        will-change: transform;
    }

    &:global(.is-shown) &__arrow {
        transform: rotateZ(-180deg);
    }
}