@import "base/mixins";
@import "base/preset";


.page {
    position: relative;
    padding-top: 88px;
    background-color: #eef1f5;

	&__hd {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        z-index: 1;
		display: flex;
        justify-content: center;
        align-items: flex-start;
        height: 88px;
        padding-top: 14px;
        background-color: #f6f6f6;
	}

    &__bd {
        font-size: inherit;
    }
}

.main-swiper {
    :global(.swiper-slide) {
        position: relative;
        min-height: 900px;
    }
}

.bottom-bar {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;

    > a {
        display: block;
        height: 54px;
        background: url('http://img4.cache.netease.com/apps/olympics2016/img/bottom-bar.jpg') no-repeat;
        background-size: cover;
    }
}