@import "base/mixins";
@import "base/preset";

:global(#root) {
    background-image: none;
}

.page {
    padding-top: 72px;
    background-color: #f6f6f6;

	&__hd {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        z-index: 99;
		display: flex;
        justify-content: center;
        align-items: flex-start;
        height: 72px;
        padding-top: 14px;
        background: resolve('topbar.jpg') no-repeat center top;
        background-size: 750px 88px;
	}

    &__bd {
	    position: relative;
	    z-index: 1;
    }
}