* {
    margin: 0;
    padding: 0;
}

.menu {
    padding: 5px 20px 10px;
    border: 2px dashed darkorange;
    border-radius: 25px;

    & + & {
        margin-top: 30px;
    }

    &__title {
        text-align: center;
        margin-bottom: 10px;
        font-size: 200%;
        font-weight: bold;

        > i {
            display: inline-block;
            margin-top: 2px;
            vertical-align: top;
            width: 32px;
            height: 32px;
            background-repeat: no-repeat;
        }
    }

    &:nth-child(1) &__title > i {
        background-image: resolve('nums/1.png');
    }
    &:nth-child(2) &__title > i {
        background-image: resolve('nums/2.png');
    }
}