@import "base/mixins";
@import "base/preset";

.page {
    background-color: #f6f6f6;

	&__hd {
		position: fixed;
		top: 0;
		z-index: 2;
		margin: 0 auto;
		width: 750px;
	}

    &__bd {
	    position: relative;
	    z-index: 1;
	    padding-top: 246px;
    }
}