@import "base/mixins";
@import "base/preset";

.page {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #eef1f5;

	&__hd {
		position: relative;
        z-index: 10;
        padding-bottom: 146px;
	}

    &__bd {
        position: relative;
        z-index: 1;
        flex: 1;
        overflow: hidden;

        :global(.swiper-wrapper), :global(.swiper-slide) {
            height: 100%;
        }
    }
}