@import "../../base/mixins";

.panel {
    margin: 19px 20px 0 20px;

	&__tag {
		overflow: hidden;

		&__entity {
			float: left;
			height: 43px;
			padding: 0 17px;
			line-height: 43px;
			font-size: 26px;
			color: #ae911b;
			text-align: center;
			background-color: #ffda44;
			border-radius: 3px 3px 0 0;
			box-shadow: 0 -2px 2px rgba(0,0,0,.05) inset;

			> small {
				font-size: 16px;
			}
		}
	}

	&__main {
		background-color: #fff;
		border-bottom: 1px solid #dfdfdf;
	}
}


// 小项
.event-ctnr + .event-ctnr {
	border-top: 1px solid #f2f2f2;
}

.event {
    position: relative;
    display: flex;
    padding: 35px 21px 31px 65px;
	background-color: #fff;

    &__clip {
        position: absolute;
        left: 0;
        top: 35px;
    }

	&__time {
        width: 120px;
        padding-right: 30px;
		font-size: 28px;
        text-align: right;
		color: #5b5b5b;
	}

	&__detail {
		display: flex;
		flex-direction: column;
		flex: 1;
	}

	& + & {
		border-top: 1px solid #f2f2f2;
	}
}

.tags {
    height: 42px;
    display: flex;
    align-items: center;

    &__discipline {
        padding: 8px 20px 7px;
        line-height: 24px;
        margin-right: 15px;
        text-align: center;
        font-size: 24px;
        color: #fff;
        background-color: #3bd5fb;
        border-radius: 20px;
    }
}

.event-name {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding:  11px 0 4px;

	&__arrow {
		@include icon('gt.png');
		transition: transform .15s;
		will-change: transform;

		&:global(.is-unfold) {
			transform: rotate(-180deg);
		}
	}
}


// 小组赛
.matches {
    position: relative;
    background-color: #f3f8fc;
    border-top: 1px solid #e0e5e8;

    &__sharp {
        position: absolute;
        top: -15px + 1;  // 防止浮点像素不精准
        right: 18px;
        @include icon('sharp.png');
    }
}

.match {
    display: flex;
    align-items: flex-start;
    padding: 36px 0 28px;
    color: #888;
    font-size: 26px;

    &__time {
        padding-right: 30px;
        width: 185px;
	    text-align: right;
        white-space: nowrap;

	    &__sep {
		    margin: 0 4px;
	    }
    }

	&__detail {
		flex: 1;

		&__group {
            margin-bottom: 10px;

            > span {
                padding: 0 4px;
	            line-height: 1.2;
                color: #3bd5fb;
                background-color: #e4f5fe;
                border-radius: 4px;
            }
		}
	}

    & + & {
        border-top: 1px solid #e0e5e8;
    }
}

// 比赛对手
.competition {
    display: flex;
    font-size: 26px;

    &__rival {
        display: flex;
        align-items: center;

        &__nation {

        }

        &__flag {
            box-sizing: content-box;
            width: 39px;
            height: 23px;
            border: 1px solid #d9d9d9;
        }

        &__nation + &__flag, &__flag + &__nation {
            margin-left: 9px;
        }
    }

    &__vs {
        display: flex;
        width: 110px;
        text-align: center;

        &__score {
            flex: 1;
        }

        &__sep {
            font-style: normal;
        }

        &:global(.is-noscore) {
            display: block;
            color: #fc4444;
        }
    }
}


:global {
    .matches-leave {
        will-change: height;
    }
	.matches-leave-active {
		height: 0;
		animation: fold .25s;
	}
}

@keyframes :global(fold) {
    100% {
        height: 0;
    }
}