@import "../../base/mixins";

%icon--gt {
    @include icon('gt.png');
}

%flag {
    box-sizing: content-box;
    width: 39px;
    max-height: 30px;
    border: 1px solid #d9d9d9;
}

.panel {
    margin: 20px 20px 0;

    &:last-child {
        padding-bottom: 20px;
    }

	&__tag {
		overflow: hidden;

		&__entity {
			float: left;
			height: 43px;
			padding: 0 17px;
			line-height: 43px;
			font-size: 26px;
			color: #ae911b;
			text-align: center;
			background-color: #ffda44;
			border-radius: 3px 3px 0 0;
			box-shadow: 0 -2px 2px rgba(0,0,0,.05) inset;

			> small {
				font-size: 16px;
			}
		}
	}

	&__main {
		background-color: #fff;
		border-bottom: 1px solid #dfdfdf;
	}
}


.show-more {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 105px;
    color: #989898;
    border-bottom: 1px solid #ebebeb;

    > i {
        display: block;
        @extend %icon--gt;
        margin-left: 12px;
        opacity: .75;
    }

    :global(.loading) {
        height: 105px;
    }
}


// 小项
.event-ctnr {
    display: block;
    color: inherit;

    & + & {
        border-top: 1px solid #f2f2f2;
    }
}

.event {
    position: relative;
    display: flex;
    padding: 35px 21px 31px 65px;
	background-color: #fff;

    &__clip {
        position: absolute;
        left: 0;
        top: 35px;
    }

	&__time {
        width: 120px;
		font-size: 28px;
        text-align: center;
		color: #5b5b5b;
	}

	&__detail {
		display: flex;
		flex-direction: column;
		flex: 1;
	}

	& + & {
		border-top: 1px solid #f2f2f2;
	}
}

.tags {
    height: 42px;
    display: flex;
    align-items: center;

    &__discipline {
        padding: 8px 24px 7px;
        line-height: 24px;
        margin-right: 15px;
        text-align: center;
        font-size: 24px;
        color: #fff;
        background-color: #3bd5fb;
        border-radius: 20px;
    }
}

.event-name {
	//display: flex;
	//align-items: center;
	//justify-content: space-between;
    max-width: 480px;
	padding:  11px 0 4px;
    color: #222;
    font-size: 28px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    //
	//&__arrow {
     //   @extend %icon--gt;
	//	transition: transform .15s;
	//	will-change: transform;
    //
	//	&:global(.is-unfold) {
	//		transform: rotate(-180deg);
	//	}
	//}
}


// 比赛对手
.competition {
    display: flex;
    font-size: 26px;
    color: rgba(91,91,91,.9);

    &__rival {
        display: flex;
        align-items: center;

        &__player {
            max-width: 130px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            &:global(.long) {
                max-width: 420px;
            }
        }

        &__flag {
            @extend %flag;
        }

        &__player + &__flag, &__flag + &__player {
            margin-left: 9px;
        }
    }

    &__vs {
        display: flex;
        width: 125px;
        text-align: center;
        font-size: 24px;

        &__score {
            flex: 1;
            align-items: center;
        }

        &__sep {
            font-style: normal;
        }

        &:global(.is-noscore) {
            display: block;
            color: #fc4444;
        }
    }
}

.competitors {
    display: flex;
    align-items: center;
    font-size: 26px;

    &__flag {
        margin-right: 8px;
        @extend %flag;
    }

    &__name {
        margin-right: 8px;
        color: rgba(44,192,228,.9);
    }

    &__tip {
        color: rgba(91,91,91,.9);
    }
}

:global {
    .matches-leave {
        will-change: height;
    }
	.matches-leave-active {
		height: 0;
		animation: fold .25s;
	}
}

@keyframes :global(fold) {
    100% {
        height: 0;
    }
}