.topbar {

    :global(.bar--touch) & {
        height: 98px;
    }

    :global(.bar--app) & {
        height: 62px;
        background: url('http://img4.cache.netease.com/apps/olympics2016/img/titled-bar.png') no-repeat;
        background-size: cover;
    }
}