@import "dish";

.dishes {
    display: flex;
    justify-content: space-between;
    background: resolve('candy.png') no-repeat center;
}

.dish:first-child .icon {
    background-image: resolve('xc/1.jpg');
}
.dish:last-child .icon {
    background-image: resolve('xc/2.jpg');
}